@model Nerve.Repository.Dtos.StandByUnitDto
@using Microsoft.AspNetCore.Http
@using Nerve.Repository.Enums
@inject Nerve.Web.Translation.ILanguageTranslator _languageTranslator

@{
    var languageId = (LanguageType)ViewContext.HttpContext.Session.GetInt32(WebConstants.SessionKeys.Language);
    var persianFont = ViewContext.HttpContext.Session.GetString(WebConstants.SessionKeys.PersianFont);
    var translateItems = await _languageTranslator.TranslateManyAsync(new List<string>
{
LanguageKeys.Brand,
LanguageKeys.Model,
LanguageKeys.ImeiNumber,
LanguageKeys.Returned,
LanguageKeys.Battery,
LanguageKeys.Charger,
LanguageKeys.Other
}, languageId);
}


<div class="panel panel-default top-margin-10">
    <div class="panel-body">
        <div class="row row-space">
            <div class="col-sm-1 text-right @persianFont">
                @translateItems[LanguageKeys.Brand]
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Brand, new { @class = "form-control", })
                <span class="glyphicon glyphicon-search cursor form-control-feedback btn-primary"></span>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-sm-1 text-right @persianFont">
                @translateItems[LanguageKeys.Model]
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Model, new { @class = "form-control", })
                <span class="glyphicon glyphicon-search cursor form-control-feedback btn-primary"></span>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-sm-1 text-right @persianFont">
                @translateItems[LanguageKeys.ImeiNumber]
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.IMEINumber, new { @class = "form-control", })
                <span class="glyphicon glyphicon-search cursor form-control-feedback btn-primary"></span>
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="row row-space">
            <div class="col-sm-1 text-right @persianFont">
            </div>
            <div class="col-sm-4">
                @Html.CheckBoxFor(model => model.IsReturned)
                @translateItems[LanguageKeys.Returned]
            </div>
        </div>
        <div class="row row-space">
            <div class="col-sm-1 text-right @persianFont">
                @translateItems[LanguageKeys.Returned]
            </div>
            <div class="col-sm-4">
                <label class="checkbox-inline">
                    @Html.RadioButtonFor(model => model.IssueReturned, ReturnedType.Battery)
                    @translateItems[LanguageKeys.Battery]
                </label>
                <label class="checkbox-inline">
                    @Html.RadioButtonFor(model => model.IssueReturned, ReturnedType.Charger)
                    @translateItems[LanguageKeys.Charger]
                </label>
                <label class="checkbox-inline">
                    @Html.RadioButtonFor(model => model.IssueReturned, ReturnedType.Other)
                    @translateItems[LanguageKeys.Other]
                </label>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-4">
                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control text-area", })
            </div>
        </div>
    </div>
</div>