@model Nerve.Web.ViewModels.DeviceViewModel
@using Microsoft.AspNetCore.Http
@using Nerve.Common
@using Nerve.Common.Enums
@inject Nerve.Common.Translations.ILanguageTranslator _languageTranslator

@{
    ViewData["Title"] = WebConstants.PageTitle.DeviceLogin;
    var langugeId = (LanguageType)Context.Session.GetInt32(WebConstants.SessionKeys.Language);
    var persianFont = Context.Session.GetString(WebConstants.SessionKeys.PersianFont);
    var resourceKeys = new List<string>
{
LanguageKeys.Brand,
LanguageKeys.CollectionPoint,
LanguageKeys.Confirm,
LanguageKeys.ConfirmDeviceFields,
LanguageKeys.ImeiNumber,
LanguageKeys.Model,
LanguageKeys.No,
LanguageKeys.ServiceCentre,
LanguageKeys.Yes,
LanguageKeys.ValidationFailureSummary
};

    var translateItems = await _languageTranslator.TranslateManyAsync(resourceKeys); //pass languageId if persian translation required.
}

<div class="main-container">
    <partial name="@WebConstants.ViewPage.Partial.Actions" model="@Model.PageActionBarModel" />
</div>
<div id="device-login" class="main-container">
    @*<ul class="nav nav-pills">
            <li class="active">
                <a href="#login-details" class="@persianFont" data-toggle="tab">@await _languageTranslator.TranslateAsync(LanguageKeys.LoginDetails, langugeId)</a>
            </li>
            <li>
                <a href="#fault-accessory-details" class="@persianFont" data-toggle="tab">@await _languageTranslator.TranslateAsync(LanguageKeys.FaultAndAccessoryDetails, langugeId)</a>
            </li>
            <li>
                <a href="#stand-by-units" class="@persianFont" data-toggle="tab">@await _languageTranslator.TranslateAsync(LanguageKeys.StandByUnits, langugeId)</a>
            </li>
            <li>
                <a href="#pop-upload" class="@persianFont" data-toggle="tab">@await _languageTranslator.TranslateAsync(LanguageKeys.PopUpload, langugeId)</a>
            </li>
            <li>
                <a href="#imei-history" class="@persianFont" data-toggle="tab">@await _languageTranslator.TranslateAsync(LanguageKeys.ImeiHistory, langugeId)</a>
            </li>
        </ul>*@
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="login-details">
            @{
                Html.RenderPartial(WebConstants.ViewPage.Partial.DeviceLoginDetails, Model);
            }
        </div>
        @*<div class="tab-pane" id="fault-accessory-details">
                @{
                Html.RenderPartial(WebConstants.ViewPage.Partial.DeviceFaultAccessoryDetails, Model.FaultAccessory);
                }
            </div>
            <div class="tab-pane" id="stand-by-units">
                @{
                Html.RenderPartial(WebConstants.ViewPage.Partial.DeviceStandByUnits, Model.StandByUnit);
                }
            </div>*@
        @*<div class="tab-pane" id="pop-upload">
                @{
                    Html.RenderPartial(WebConstants.ViewPage.Partial.DevicePopUpload, Model.PopUpload);
                }
            </div>*@
        @*<div class="tab-pane" id="imei-history">
                @{
                    Html.RenderPartial(WebConstants.ViewPage.Partial.DeviceImeiHistory, Model.HistoryItems);
                }
            </div>*@
    </div>
</div>
<div class="modal fade" id="device-confirm-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="modal-title model-title-header">@Html.Raw(translateItems[LanguageKeys.Confirm])</span>
            </div>
            <div class="modal-body">
                <div>@Html.Raw(translateItems[LanguageKeys.ConfirmDeviceFields])</div>
                <br />
                <div id="device-confirm-summary"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.Raw(translateItems[LanguageKeys.No])</button>
                <button type="button" class="btn btn-primary" id="device-confirm-modal-yes">@Html.Raw(translateItems[LanguageKeys.Yes])</button>
            </div>
        </div>
    </div>
</div>
<partial name="@WebConstants.ViewPage.Partial.ValidationSummary" model="@translateItems[LanguageKeys.ValidationFailureSummary]" />