@model Nerve.Web.ViewModels.DeviceViewModel
@using Microsoft.AspNetCore.Http
@using Nerve.Repository.Enums
@inject Nerve.Web.Translation.ILanguageTranslator _languageTranslator

@{

    ViewData["Title"] = WebConstants.PageTitle.DeviceLogin;
    var menuId = Convert.ToInt32(Context.Request.Query["id"]);
    var langugeId = (LanguageType)Context.Session.GetInt32(WebConstants.SessionKeys.Language);
    var persianFont = Context.Session.GetString(WebConstants.SessionKeys.PersianFont);
}

<form asp-action="Index" asp-controller="Device"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#ajaxpanel">
    <div class="main-container">
        <partial name="@WebConstants.ViewPage.Partial.Actions" model="@menuId" />
    </div>
    <div id="device-login" class="main-container">
        <ul class="nav nav-pills">
            <li class="active">
                <a href="#login-details" class="@persianFont" data-toggle="tab">@await _languageTranslator.TranslateAsync(LanguageKeys.LoginDetails, langugeId)</a>
            </li>
            <li>
                <a href="#fault-accessory-details" class="@persianFont" data-toggle="tab">@await _languageTranslator.TranslateAsync(LanguageKeys.FaultAndAccessoryDetails, langugeId)</a>
            </li>
            <li>
                <a href="#stand-by-units" class="@persianFont" data-toggle="tab">@await _languageTranslator.TranslateAsync(LanguageKeys.StandByUnits, langugeId)</a>
            </li>
            <li>
                <a href="#pop-upload" class="@persianFont" data-toggle="tab">@await _languageTranslator.TranslateAsync(LanguageKeys.PopUpload, langugeId)</a>
            </li>
            <li>
                <a href="#imei-history" class="@persianFont" data-toggle="tab">@await _languageTranslator.TranslateAsync(LanguageKeys.ImeiHistory, langugeId)</a>
            </li>
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="login-details">
                @{
                    Html.RenderPartial(WebConstants.ViewPage.Partial.DeviceLoginDetails, Model.LoginDetail);
                }
            </div>
            <div class="tab-pane" id="fault-accessory-details">
                @{
                    Html.RenderPartial(WebConstants.ViewPage.Partial.DeviceFaultAccessoryDetails, Model.FaultAccessory);
                }
            </div>
            <div class="tab-pane" id="stand-by-units">
                @{
                    Html.RenderPartial(WebConstants.ViewPage.Partial.DeviceStandByUnits, Model.StandByUnit);
                }
            </div>
            <div class="tab-pane" id="pop-upload">
                @{
                    Html.RenderPartial(WebConstants.ViewPage.Partial.DevicePopUpload, Model.PopUpload);
                }
            </div>
            <div class="tab-pane" id="imei-history">
                @{
                    Html.RenderPartial(WebConstants.ViewPage.Partial.DeviceImeiHistory, Model.HistoryItems);
                }
            </div>
        </div>
    </div>
</form>