@using Nerve.Repository
@using Microsoft.AspNetCore.Http
@using Nerve.Repository.Enums
@inject Nerve.Web.Translation.ILanguageTranslator _languageTranslator
@model PageActionBarModel
@{

    var langugeId = (LanguageType)ViewContext.HttpContext.Session.GetInt32(WebConstants.SessionKeys.Language);
    var persianFont = ViewContext.HttpContext.Session.GetString(WebConstants.SessionKeys.PersianFont);
    var menus = Newtonsoft.Json.JsonConvert
            .DeserializeObject<List<UserMenuAccess>>(Context.Session.GetString(WebConstants.SessionKeys.UserMenus));

    var actionPermission = new UserMenuAccess();

    if (menus != null)
    {
        actionPermission = menus.SingleOrDefault(x => x.MenuId == Model.MenuId);
    }

    var translateItems = await _languageTranslator.TranslateManyAsync(new List<string>
{
LanguageKeys.Save,
LanguageKeys.Undo,
LanguageKeys.Delete,
LanguageKeys.Print,
LanguageKeys.Exit,
LanguageKeys.ExitConfirmation,
LanguageKeys.ExitConfirmationMessage
}, langugeId);
}

@if (actionPermission != null)
{
    <div class="bs-glyphicons">
        <ul class="bs-glyphicons-list">
            @if (actionPermission.SaveOption == WebConstants.HasActionOptionAccess)
            {
                <li>
                    <span id="@Model.ActionPrefix-save-click" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> <span class="glyphicon-class">
                        <label class="@persianFont cursor">@translateItems[LanguageKeys.Save]</label>
                    </span>
                </li>
            }

            <li>
                <span id="@Model.ActionPrefix-undo-click" class="glyphicon glyphicon-repeat" aria-hidden="true"></span> <span class="glyphicon-class">
                    <label class="@persianFont cursor">@translateItems[LanguageKeys.Undo]</label>
                </span>
            </li>

            @*@if (actionPermission.UpdateOption == WebConstants.HasActionOptionAccess)
                {
                    <li>
                        <span id="@Model.ActionPrefix-update-click" class="glyphicon glyphicon-repeat" aria-hidden="true"></span> <span class="glyphicon-class">
                            <label class="@persianFont cursor">@translateItems[LanguageKeys.Undo]</label>
                        </span>
                    </li>
                }*@

            @if (actionPermission.DeleteOption == Model.HasDeleteActionAccess)
            {
                <li>
                    <span id="@Model.ActionPrefix-delete-click" class="glyphicon glyphicon-trash" aria-hidden="true"></span> <span class="glyphicon-class">
                        <label class="@persianFont cursor">@translateItems[LanguageKeys.Delete]</label>
                    </span>
                </li>
            }

            @if (actionPermission.PrintOption == WebConstants.HasActionOptionAccess)
            {
                <li>
                    <span id="@Model.ActionPrefix-print-click" class="glyphicon glyphicon-print" aria-hidden="true"></span> <span class="glyphicon-class">
                        <label class="@persianFont cursor">@translateItems[LanguageKeys.Print]</label>
                    </span>
                </li>
            }
            <li>
                <span id="exit-click" class="glyphicon glyphicon-off" aria-hidden="true"></span> <span class="glyphicon-class">
                    <label class="@persianFont cursor">@translateItems[LanguageKeys.Exit]</label>
                </span>
            </li>
        </ul>
    </div>
}

<div class="modal fade" id="collection-point-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="modal-title model-title-header">@Html.Raw(translateItems[LanguageKeys.ExitConfirmation])</span>
            </div>
            <div class="modal-body">
                @Html.Raw(translateItems[LanguageKeys.ExitConfirmationMessage])
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="select-collection-point">Exit</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    });
</script>