@using Nerve.Repository
@using Microsoft.AspNetCore.Http
@using Nerve.Common
@using Nerve.Common.Enums
@inject Nerve.Common.Translations.ILanguageTranslator _languageTranslator
@model PageActionBarModel
@{

    var langugeId = (LanguageType)ViewContext.HttpContext.Session.GetInt32(WebConstants.SessionKeys.Language);
    var persianFont = ViewContext.HttpContext.Session.GetString(WebConstants.SessionKeys.PersianFont);
    var menus = Newtonsoft.Json.JsonConvert
            .DeserializeObject<List<UserMenuAccess>>(Context.Session.GetString(WebConstants.SessionKeys.UserMenus));

    var actionPermission = new UserMenuAccess();
    if (menus != null)
    {
        actionPermission = menus.SingleOrDefault(x => x.MenuId == Model.MenuId);
    }

    var resourceKeys = new List<string>
{
LanguageKeys.Audit,
LanguageKeys.Delete,
LanguageKeys.Exit,
LanguageKeys.ExitConfirmation,
LanguageKeys.ExitConfirmationMessage,
LanguageKeys.No,
LanguageKeys.Print,
LanguageKeys.Save,
LanguageKeys.Undo,
LanguageKeys.UndoMessage,
LanguageKeys.Yes
};

    if (Model.AdditionalMenus != null && Model.AdditionalMenus.Any())
    {
        resourceKeys.AddRange(Model.AdditionalMenus.Select(x => x.TranslateKey).ToList());
    }

    var translateItems = await _languageTranslator.TranslateManyAsync(resourceKeys);
}

@if (actionPermission != null)
{
    <div class="bs-glyphicons">
        <ul class="bs-glyphicons-list">
            @if (actionPermission.SaveOption == WebConstants.HasActionOptionAccess)
            {
                <li>
                    <a href="#" id="@Model.ActionPrefix-save-click">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> <span class="glyphicon-class">
                            <label class="@persianFont cursor">@translateItems[LanguageKeys.Save]</label>
                        </span>
                    </a>
                </li>
            }

            <li>
                <a href="@Model.UndoActionUrl" id="@Model.ActionPrefix-undo-click">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> <span class="glyphicon-class">
                        <label class="@persianFont cursor">@translateItems[LanguageKeys.Undo]</label>
                    </span>
                </a>
            </li>


            @if (Model.AdditionalMenus != null && Model.AdditionalMenus.Any())
            {
                @foreach (var item in Model.AdditionalMenus)
                {
                    <li>
                        <a href="#" id="@Model.ActionPrefix-@item.Name.ToLower()-click">
                            <span class="glyphicon glyphicon-@item.Icon" aria-hidden="true"></span> <span class="glyphicon-class">
                                <label class="@persianFont cursor">@translateItems[item.TranslateKey]</label>
                            </span>
                        </a>
                    </li>
                }

            }

            @if (actionPermission.DeleteOption == Model.HasDeleteActionAccess)
            {
                <li>
                    <a href="#" id="@Model.ActionPrefix-delete-click">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <span class="glyphicon-class">
                            <label class="@persianFont cursor">@translateItems[LanguageKeys.Delete]</label>
                        </span>
                    </a>
                </li>
            }

            @if (actionPermission.PrintOption == WebConstants.HasActionOptionAccess)
            {
                <li>
                    <a href="#" id="@Model.ActionPrefix-print-click">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> <span>
                            <label class="@persianFont cursor">@translateItems[LanguageKeys.Print]</label>
                        </span>
                    </a>
                </li>
            }


            <li>
                <a href="#" id="exit-click">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> <span class="glyphicon-class">
                        <label class="@persianFont cursor">@translateItems[LanguageKeys.Exit]</label>
                    </span>
                </a>
            </li>
        </ul>
    </div>
}

<div class="modal fade" id="exit-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span id="exit-modal-title" class="modal-title model-title-header">@Html.Raw(translateItems[LanguageKeys.Exit])</span>
            </div>
            <div class="modal-body" id="exit-modal-body">
                @Html.Raw(translateItems[LanguageKeys.ExitConfirmationMessage])
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.Raw(translateItems[LanguageKeys.No])</button>
                <button type="button" class="btn btn-primary" id="exit-click-modal">@Html.Raw(translateItems[LanguageKeys.Yes])</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#exit-click").on("click", function () {
            let title = '@Html.Raw(translateItems[LanguageKeys.Exit])';
            let message = '@Html.Raw(translateItems[LanguageKeys.ExitConfirmationMessage])';
            confirm(title, message);
        });

        $("#@Model.ActionPrefix-undo-click").on("click", function (e) {
            e.preventDefault();
            let title = '@Html.Raw(translateItems[LanguageKeys.Undo])';
            let message = '@Html.Raw(translateItems[LanguageKeys.UndoMessage])';
            confirm(title, message);
        });

        $("#exit-click-modal").click(function () {
            let title = $("#exit-modal-title").text();
            let url = '@Url.Action("Index", "Home")';
            if (title === '@Html.Raw(translateItems[LanguageKeys.Undo])') {
                url = '@Model.UndoActionUrl';
            }
            window.location.href = url;
        });

        function confirm(title, message) {
            $("#exit-modal-title").text(title);
            $("#exit-modal-body").text(message);
            $("#exit-modal").modal('show');
        }
    });
</script>