@using Microsoft.AspNetCore.Http
@using Nerve.Repository
@using Nerve.Web.Enums
@using System.Web
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nerve : @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />*@
    <link href="~/lib/bootstrap/dist/css/datepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/color.css" rel="stylesheet" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            let height = screen.height;
            let layoutHeight = height ? height - 198 : 710;
            $("#content-body").attr('min-height', layoutHeight);
            $("li.menu-link-click").click(function () {
                let list = $(this).children("a").text();
            });
            raiseNotification('@Html.Raw(TempData[WebConstants.TempDataKeys.Notification])');
        })

        function showSpinner() {
            $("#pageLoader").removeClass('hide');
        }

        function hideSpinner() {
            $("#pageLoader").addClass('hide');
        }

        function raiseNotification(notification, isConversionRequired) {
            if (!!notification) {
                var notifyJson = !!isConversionRequired ? JSON.parse(notification) : notification;
                let iconCss = '';
                let isShow = true;
                if (notifyJson) {
                    $("#notifyModalTitle").text('');
                    $("#notifyModalMessage").text('');
                    $("#notifyModalIcon").attr('class','');

                    switch (notifyJson.type) {
                        case @Convert.ToInt32(NotificationType.Error):
                            iconCss = 'glyphicon glyphicon-remove-circle red'
                            break;
                        case @Convert.ToInt32(NotificationType.Information):
                            iconCss = 'glyphicon glyphicon-info-sign-circle lightblue'
                            break;
                        case @Convert.ToInt32(NotificationType.Success):
                            iconCss = 'glyphicon glyphicon-ok-circle green'
                            break;
                        case @Convert.ToInt32(NotificationType.Warning):
                            iconCss = 'glyphicon glyphicon-warning-sign bg-yellow';
                            break;
                        default:
                            break;
                    }

                    //show popup
                    if (!!iconCss) {
                        iconCss = iconCss + " notification-icon";
                        $("#notifyModalTitle").text(notifyJson.title);
                        $("#notifyModalMessage").text(notifyJson.message);
                        $("#notifyModalIcon").addClass(iconCss);
                        $("#notifyModel").modal();
                    }
                }
            }
        }
    </script>
</head>
<body>
    @{
        var user = Newtonsoft.Json.JsonConvert
            .DeserializeObject<User>(Context.Session.GetString(WebConstants.SessionKeys.User));

        var menus = Newtonsoft.Json.JsonConvert
            .DeserializeObject<List<UserMenuAccess>>(Context.Session.GetString(WebConstants.SessionKeys.UserMenus));
    }
    <div class="main-container">
        <div class="modal fade" id="notifyModel" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div>
                            <span class="modal-title model-title-header" id="notifyModalTitle">Modal Header</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p id="notifyModalIcon"></p>
                        <div id="notifyModalMessage" class="notification-message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="spinner hide" id="pageLoader">
            <div class="spinner-content">
                <img src="~/images/loading.gif" /> Loading...
            </div>
        </div>
        
        <img style="width:100%;height:100px;" src="~/images/banner.jpg" />
        <partial name="_Menus" for="@menus" />
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Front Desk</a></li>
                <li class="breadcrumb-item active" aria-current="page">Device Login</li>
            </ol>
        </nav>
        <div id="content-body" class="col-md-12">
            @RenderBody()
        </div>
        <div>
            <footer>
                <p class="footer">&copy; 2019 - Nerve</p>
            </footer>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
