@model List<Nerve.Repository.UserMenuAccess>
@using Microsoft.AspNetCore.Http
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        @*<div class="navbar-header">
            <a class="navbar-brand" href="#">Nerve Logistics</a>
        </div>*@
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            @if (Model != null)
            {
                var parents = Model.Where(x => x.ParentMenuId == 0).OrderBy(x => x.OrderBy).ToList();
                @foreach (var parent in parents)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@parent.MenuName <span class="caret"></span></a>
                        @{var childs = @Model.Where(x => x.ParentMenuId == parent.MenuId).OrderBy(x => x.OrderBy).ToList();
                            if (childs.Any())
                            {
                                <ul class="dropdown-menu">
                                    @foreach (var child in childs)
                                    {
                                        <li><a href="@Url.Action(child.MenuLink)">@child.MenuName</a></li>
                                    }
                                </ul>
                            }
                        }
                    </li>
                }
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> @Context.Session.GetString(WebConstants.SessionKeys.UserName)</a></li>
            <li><a asp-action="Logout" asp-controller="Users"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>