@model List<Nerve.Repository.UserMenuAccess>
@using Nerve.Repository.Enums
@using Microsoft.AspNetCore.Http
@inject Nerve.Web.Translation.ILanguageTranslator _languageTranslator

@{ var persianFont = Context.Session.GetString(WebConstants.SessionKeys.PersianFont);}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="@persianFont" href="#">@await _languageTranslator.TranslateAsync(LanguageKeys.Home, (LanguageType)Context.Session.GetInt32(WebConstants.SessionKeys.Language))</a></li>
            @if (Model != null)
            {
                var parents = Model.Where(x => x.ParentMenuId == 0).OrderBy(x => x.OrderBy).ToList();
                @foreach (var parent in parents)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle @persianFont" data-toggle="dropdown" href="#">
                            @await _languageTranslator.TranslateAsync(@parent.LanguageKey, (LanguageType)Context.Session.GetInt32(WebConstants.SessionKeys.Language))  <span class="caret"></span>
                        </a>
                        @{var childs = @Model.Where(x => x.ParentMenuId == parent.MenuId).OrderBy(x => x.MenuName).ToList();
                            if (childs.Any())
                            {
                                <ul class="dropdown-menu">
                                    @foreach (var child in childs)
                                    {
                                        <li class="menu-link-click"><a class="@persianFont" href="@child.MenuLink?id=@child.MenuId">@await _languageTranslator.TranslateAsync(@child.LanguageKey, (LanguageType)Context.Session.GetInt32(WebConstants.SessionKeys.Language))</a></li>
                                    }
                                </ul>
                            }
                        }
                    </li>
                }
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> @Context.Session.GetString(WebConstants.SessionKeys.UserName)</a></li>
            <li><a asp-action="Logout" asp-controller="Users"><span class="glyphicon glyphicon-log-out @persianFont"></span> @await _languageTranslator.TranslateAsync(LanguageKeys.Logout, (LanguageType)Context.Session.GetInt32(WebConstants.SessionKeys.Language))</a></li>
        </ul>
    </div>
</nav>